/* HEIGHTS */
$mc-modal-z-index:         1000;
$mc-modal-overlay-z-index: 999;

/* RADIUS */
$mc-modal-border-radius: 5px;

/* WIDTHS */
$mc-modal-width: 90%;

/* PADDING */
$mc-modal-padding: 50px;

/* BACKGROUND COLORS */
$mc-modal-overlay-background-color-a: rgba(11, 209, 239, 0.8);
$mc-modal-overlay-background-color-b: rgba(31, 226, 109, 0.8);
$mc-modal-content-background-color:   #FFFFFF;
$mc-modal-header-background-color:    #151F28;
$mc-modal-footer-background-color:    #FFFFFF;
$mc-modal-shadow-color:               rgba(0, 0, 0, 0.8);

/* FONT COLORS */
$mc-modal-header-text-color:  #FFFFFF;
$mc-modal-content-text-color: #333333;
$mc-modal-footer-text-color:  #333333;
