/* HEIGHTS */
$mc-modal-z-index:         1000;
$mc-modal-overlay-z-index: 999;

/* RADIUS */
$mc-modal-border-radius: 5px;

/* WIDTHS */
$mc-modal-width: 90%;

/* PADDING */
$mc-modal-padding: 20px;

/* BACKGROUND COLORS */
$mc-modal-background-color:         rgba(255, 255, 255, 1);
$mc-modal-overlay-background-color: rgba(0, 0, 0, 0.8);
$mc-modal-content-background-color: rgba(255, 255, 255, 1);
$mc-modal-header-background-color:  #151F28;
$mc-modal-footer-background-color:  #FFFFFF;
$mc-modal-shadow-color:             #000000;

/* FONT COLORS */
$mc-modal-header-text-color:  #FFFFFF;
$mc-modal-content-text-color: #333333;
$mc-modal-footer-text-color:  #333333;
