/*
 * Represents components for a modal window that need to float above
 * the main page content. Sets up postiion type, position, and forces the
 * elements to cover the entire page.
 */

%mc-modal-floating-component {
  position: absolute;
  top:      0;
  left:     0;
  height:   100%;
  width:    100%;
}
