/*
 * MC Modal Styles. Each component is represented by an element
 * level BEM css selector. The exception is the mc-modal class
 * which is represented by the block level selector.
 */

.mc-modal {
  @include diagonal-gradient(
    $mc-modal-overlay-background-color-a,
    $mc-modal-overlay-background-color-b
  );

  z-index:          $mc-modal-z-index;
  position:         absolute;
  top:              0;
  left:             0;
  min-height:       100%;
  width:            100%;
}

.mc-modal__wrapper {
  margin:      5vh 0;
  width:       $mc-modal-width;
  margin-left: ( 100% - $mc-modal-width ) / 2;
  box-shadow:  0px 0px 20px $mc-modal-shadow-color;
}

.mc-modal__header {
  position:                relative;
  padding:                 $mc-modal-padding;
  box-sizing:              border-box;
  text-align:              center;
  text-transform:          uppercase;
  border-top-left-radius:  $mc-modal-border-radius;
  border-top-right-radius: $mc-modal-border-radius;
  color:                   $mc-modal-header-text-color;
  background-color:        $mc-modal-header-background-color;

  svg {
    @include no-select();

    width:    16px;
    height:   16px;
    position: absolute;
    fill:     $mc-modal-header-text-color;
    right:    $mc-modal-padding;
    top:      $mc-modal-padding;
    cursor:   pointer;
  }
}

.mc-modal__footer {
  padding:                    $mc-modal-padding;
  box-sizing:                 border-box;
  text-align:                 center;
  border-bottom-left-radius:  $mc-modal-border-radius;
  border-bottom-right-radius: $mc-modal-border-radius;
  color:                      $mc-modal-footer-text-color;
  background-color:           $mc-modal-footer-background-color;
}

.mc-modal__content {
  padding:          $mc-modal-padding;
  box-sizing:       border-box;
  color:            $mc-modal-content-text-color;
  background-color: $mc-modal-content-background-color;
}
